.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.bg-c-purple {
    background: linear-gradient(45deg,#a680ca,#af86c9);
}
.bg-c-greenish {
    background: linear-gradient(45deg,#c0d152,#c0d152);
}
.bg-c-darkblue {
    background: linear-gradient(45deg,#6d9dbb,#6d9ab2);
}


.card {
    border-radius: 5px;
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    text-align: center; 
}

.card .card-block {
    padding: 25px;
}

a{
    color: #fff
}
a:hover{
    color: white;
    text-decoration: none;
    transform: scale(0.75);
    transition: 0.4s;
}