ul, li{
    background-color:transparent;
    text-decoration: none;
}


.navbar_admin{
    position: sticky;
    top:2rem;
}

.active{
    color: rgb(82, 80, 80) !important;
    background-color: transparent;
    font-weight: bolder;
}
.nav-link.active{
    background-color: transparent !important;
}