.prelogin_navbar{
    position:absolute;
    z-index: 100; 
    top:0cm;
    width:100%;
    /* background-color: rgba(108, 122, 137, 0.4); */
    background-color: rgba(36, 38, 37, 0.4);
    
}
.postlogin_navbar{
    /* position:absolute; */
    z-index: 100; 
    top:0cm;
    width:100%;
    background-image: linear-gradient(90deg, #bec4cc9d,#fff, #ffff , #fff, #ffff, #ffff,#bec4cc9d);
}